ul {
    list-style: none;
  }

.header {
    background-color: #0aaff1;
    padding-bottom: 120px;
    padding-top: 10px;
}
.navigation {
    width: 65%;
    margin: auto;
}

.navBrand {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover {
    color: #f0f0f0!important;
}

.active {
    color: #d1eafd !important;
}

.pageTitle {
    text-align: center;
    position: relative;
    bottom: 65px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.contentContainer {
    width: 65%;
    margin: auto;
}

.experience {
    text-align: center;
}

.btn {
    background-color: #ee9b1e;
    width: 120px;
    border: none;
}
.contactForm {
    width: 40%;
    margin: auto;
}